<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>详情界面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20E07CB71DAB77270023C99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20E07CD01DAB77270023C99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20E07CDB1DAB77270023C99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
